body,html {
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}

.loading-bar {
    width: 100vw;
    height: 1rem;
    position: absolute;
    bottom:15rem;
    left: 0;
    background-image: url("../img/loadingbar.png");
}

.select-item{
    width: 90%;
    height: 3rem;
    border: 1px solid #666666;
    text-align: center;
    font-size: 2rem;
    float: left;
}

.select-v {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
}

.bf {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 10.5rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

#logo {
    width: 20rem;
    bottom: 1rem;
    position: absolute;
    left: 10rem;
    z-index: 1;
    opacity: 0;
    display: none;
}

#start_btn{
    width: 26rem;
    bottom: 8rem;
    position: absolute;
    left: 6rem;
    z-index: 10;
    opacity: 0;
    display: none;
}

.bar-v {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right,#17a7ff, #9340ff);
    border-radius: 20px;
    margin:0 auto;
    display: block;
}

.loading-v {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../img/loadingbg.jpg");
    background-size: 100% 100%;
}

.t1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 13rem;
    left: 0;
}

